<h1>New Book</h1>

<%# render 'form', book: @book %>

<%= form_for( @book , remote: false) do |f| %>

<%= f.label :author_id, 'Author' %>
<%= f.select :author_id, Author.all.collect { |p| [p.name, p.id] }, include_blank: true %><br />

<%= f.label :description, 'Description' %>
<%= f.text_field :description %><br />

<%= f.label :price, 'Price' %>
<%= f.number_field :price %><br />

<%= f.submit %>
<% end %>

<br />

<%= link_to 'Back', books_path %>
